@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@1,300;1,400;1,600&display=swap');
.destop {
    display: flex;
    background-color: #d4aaaa;
}
.we {
margin-bottom: 0px;
    height: 64px;
top: calc(50% - 64px/2 - 64px);
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 64px;
letter-spacing: 17.3206px;
color: #CE9898;
border-bottom: 0px;
}
.com {
   margin-top: 0px;
    height: 128px;
    top: calc(50% - 128px/2 + 32px);
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 17.3206px;
    color: #423A3A;
}
.group8 {
    position: absolute;
   
    left: 165px;
    top: 217px;
    
    width: 445px;
    height: 404px;
}
.group4 {
    display: flex;
    width: 403px;
    height: 56px;
    border-radius: 28px;
    box-sizing: border-box;
     
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 1px solid #CE9898;
    border-radius: 28px;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
}
.rasm{
    position: absolute;
   width: 610px;
   height: 800px;
   left: 830px;
   
}
.group3 {
    left: 200px;
    right: 199px;
}
.hello {

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


color: #CE9898;

}
.span {
    position: absolute;
    bottom: 450px;
}

.email {
   
/* identical to box height, or 175% */
margin-left : 35px;

width: 150px;
color: #CE9898;

mix-blend-mode: normal;
opacity: 0.5;
}
.rasm2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 56px; 
margin-left: 110px;
background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
border-radius: 28px;
}
.emaildiv{
    margin: auto;
}
.str{  
width: 20px;
height: 30px;


}
